USE [seta_sac]
GO
/****** Object:  Table [dbo].[BASE]    Script Date: 09/11/2016 16:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BASE](
	[CodBase] [char](5) NOT NULL,
	[NomBase] [varchar](50) NULL,
	[DirecBase] [varchar](50) NULL,
	[NomCliBase] [varchar](50) NULL,
 CONSTRAINT [PK_BASE] PRIMARY KEY CLUSTERED 
(
	[CodBase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CARGO]    Script Date: 09/11/2016 16:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CARGO](
	[CODCARGO] [char](5) NOT NULL,
	[DESCRIPCARGO] [varchar](50) NULL,
 CONSTRAINT [PK_CARGO] PRIMARY KEY CLUSTERED 
(
	[CODCARGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETALLE]    Script Date: 09/11/2016 16:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETALLE](
	[CODROL] [char](8) NOT NULL,
	[CODVIG] [char](5) NOT NULL,
	[PUNTOS] [int] NOT NULL,
	[DIA_1] [varchar](1) NULL,
	[DIA_2] [varchar](1) NULL,
	[DIA_3] [varchar](1) NULL,
	[DIA_4] [varchar](1) NULL,
	[DIA_5] [varchar](1) NULL,
	[DIA_6] [varchar](1) NULL,
	[DIA_7] [varchar](1) NULL,
	[DIA_8] [varchar](1) NULL,
	[DIA_9] [varchar](1) NULL,
	[DIA_10] [varchar](1) NULL,
	[DIA_11] [varchar](1) NULL,
	[DIA_12] [varchar](1) NULL,
	[DIA_13] [varchar](1) NULL,
	[DIA_14] [varchar](1) NULL,
	[DIA_15] [varchar](1) NULL,
	[DIA_16] [varchar](1) NULL,
	[DIA_17] [varchar](1) NULL,
	[DIA_18] [varchar](1) NULL,
	[DIA_19] [varchar](1) NULL,
	[DIA_20] [varchar](1) NULL,
	[DIA_21] [varchar](1) NULL,
	[DIA_22] [varchar](1) NULL,
	[DIA_23] [varchar](1) NULL,
	[DIA_24] [varchar](1) NULL,
	[DIA_25] [varchar](1) NULL,
	[DIA_26] [varchar](1) NULL,
	[DIA_27] [varchar](1) NULL,
	[DIA_28] [varchar](1) NULL,
	[DIA_29] [varchar](1) NULL,
	[DIA_30] [varchar](1) NULL,
	[DIA_31] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODROL] ASC,
	[CODVIG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 09/11/2016 16:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[CODEMP] [char](5) NOT NULL,
	[NOMEMP] [varchar](50) NULL,
	[APEEMP] [varchar](50) NULL,
	[DNIEMP] [int] NULL,
	[TELEMP] [char](10) NULL,
	[DIRECEMP] [varchar](50) NULL,
	[CODCARGO] [char](5) NULL,
	[CONTRASEÑA] [char](15) NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[CODEMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REEMPLAZO]    Script Date: 09/11/2016 16:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REEMPLAZO](
	[CODREM] [char](5) NOT NULL,
	[CODVIG] [char](5) NULL,
	[CODROL] [char](8) NULL,
	[FECHA_REGISTRO] [date] NULL,
 CONSTRAINT [PK_REEMPLAZO] PRIMARY KEY CLUSTERED 
(
	[CODREM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 09/11/2016 16:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROL](
	[CODROL] [char](8) NOT NULL,
	[FECHA_REGISTRO] [date] NULL,
	[CODBASE] [char](5) NULL,
	[CODEMP] [char](5) NULL,
 CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED 
(
	[CODROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VIGILANTE]    Script Date: 09/11/2016 16:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VIGILANTE](
	[CODVIG] [char](5) NOT NULL,
	[NOMVIG] [varchar](30) NULL,
	[APELLVIG] [varchar](30) NULL,
	[ESTADO_VIGIL] [varchar](10) NULL,
	[NRO_HIJOS] [int] NULL,
	[FECHA_NACIMIENTO] [date] NULL,
	[LIBRETA_MILITAR] [char](12) NULL,
	[DIRECVIG] [varchar](80) NULL,
	[AÑOS_EXPERIENCIA] [int] NULL,
	[TELVIG] [char](10) NULL,
	[COD_SUCAMEC] [varchar](10) NULL,
	[OBS] [varchar](200) NULL,
 CONSTRAINT [PK_VIGILANTE] PRIMARY KEY CLUSTERED 
(
	[CODVIG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD FOREIGN KEY([CODROL])
REFERENCES [dbo].[ROL] ([CODROL])
GO
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD FOREIGN KEY([CODVIG])
REFERENCES [dbo].[VIGILANTE] ([CODVIG])
GO
